<div class="row">
    <div class="col-md-8 offset-md-2">
        <form [formGroup]="loginForm" (ngSubmit)="signIn()">
            <div class="mb-3">
                <label for="username" class="form-label">UserName: </label>
                <input class="form-control" type="text" placeholder="Username" formControlName="userName">
            </div>
            <div class="alert alert-danger"
                *ngIf="isInValidMessageShow('userName')">
                <small *ngIf="loginForm.get('userName')?.errors?.['required']">Kullanıcı adı alanı
                    zorunludur</small>
                <small *ngIf="loginForm.get('userName')?.errors?.['minlength']">Kullanıcı adı alanı en az 5 karakter olabilir</small>
            </div>
            <div class="alert alert-info">
                <ul>
                    <li>Valid: {{loginForm.get("userName")?.valid}}</li>
                    <li>Invalid: {{loginForm.get("userName")?.invalid}}</li>
                    <li>Errors: {{loginForm.get("userName")?.errors | json}}</li>
                    <li>Dirty: {{loginForm.get("userName")?.dirty}}</li>
                    <li>Pristine: {{loginForm.get("userName")?.pristine}}</li>
                    <li>Touched: {{loginForm.get("userName")?.touched}}</li>
                    <li>Untouched: {{loginForm.get("userName")?.untouched}}</li>
                    <li>Value: {{loginForm.get("userName")?.value}}</li>
                </ul>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password: </label>
                <input [ngClass]="{invalidRed:isValid('password'),validGreen:isSuccessValid('password')}" class="form-control" type="password" placeholder="Password" formControlName="password">
            </div>
            <div class="alert alert-danger"
                *ngIf="isInValidMessageShow('password')">
                <small *ngIf="loginForm.get('password')?.errors?.['required']">Password alanı zorunludur</small>
                <small *ngIf="loginForm.get('password')?.errors?.['minlength']">Password alanı en az 4 karakter
                    olabilir</small>
            </div>
            <div class="alert alert-info">
                <ul>
                    <li>Valid: {{loginForm.get("password")?.valid}}</li>
                    <li>Invalid: {{loginForm.get("password")?.invalid}}</li>
                    <li>Errors: {{loginForm.get("password")?.errors | json}}</li>
                    <li>Dirty: {{loginForm.get("password")?.dirty}}</li>
                    <li>Pristine: {{loginForm.get("password")?.pristine}}</li>
                    <li>Touched: {{loginForm.get("password")?.touched}}</li>
                    <li>Untouched: {{loginForm.get("password")?.untouched}}</li>
                    <li>Value: {{loginForm.get("password")?.value}}</li>
                </ul>
            </div>
            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" formControlName="rememberMe">
                <label class="form-check-label" for="rememberMe">
                    Beni Hatırla
                </label>
            </div>
            <label class="form-label" for="country">Ülke :</label>
            <select class="form-select mb-3" formControlName="country">
                <option value="">Seçiniz</option>
                <option *ngFor="let country of countryMenu" value="{{country.value}}">{{country.text}}</option>
            </select>

            <div class="alert alert-info">
                <ul>
                    <li>Valid: {{loginForm.get("country")?.valid}}</li>
                    <li>Invalid: {{loginForm.get("country")?.invalid}}</li>
                    <li>Errors: {{loginForm.get("country")?.errors | json}}</li>
                    <li>Dirty: {{loginForm.get("country")?.dirty}}</li>
                    <li>Pristine: {{loginForm.get("country")?.pristine}}</li>
                    <li>Touched: {{loginForm.get("country")?.touched}}</li>
                    <li>Untouched: {{loginForm.get("country")?.untouched}}</li>
                    <li>Value: {{loginForm.get("country")?.value}}</li>
                </ul>
            </div>

            <div class="form-check" *ngFor="let gender of genderMenu">
                <input class="form-check-input" type="radio" formControlName="gender" [value]="gender.value">
                <label class="form-check-label" for="exampleRadios1">
                    {{gender.text}}
                </label>
            </div>

            <div class="mt-3">
                <label for="birthDate">Doğum Tarihi</label>
                <input class="form-control" type="date" formControlName="birthDate" name="birthDate">
            </div>
            <div class="alert alert-info">
                <ul>
                    <li>Valid: {{loginForm.get("birthDate")?.valid}}</li>
                    <li>Invalid: {{loginForm.get("birthDate")?.invalid}}</li>
                    <li>Errors: {{loginForm.get("birthDate")?.errors | json}}</li>
                    <li>Dirty: {{loginForm.get("birthDate")?.dirty}}</li>
                    <li>Pristine: {{loginForm.get("birthDate")?.pristine}}</li>
                    <li>Touched: {{loginForm.get("birthDate")?.touched}}</li>
                    <li>Untouched: {{loginForm.get("birthDate")?.untouched}}</li>
                    <li>Value: {{loginForm.get("birthDate")?.value}}</li>
                </ul>
            </div>


            <button class="btn btn-primary mt-3">Giriş</button>
        </form>
    </div>
</div>