<div class="row">
    <div class="col-md-8 offset-md-2">
        <form #saveForm="ngForm" (ngSubmit)="save(saveForm)">
            <div class="mb-3">
                <label for="username">UserName: </label>
                <input class="form-control" #userNameInput="ngModel" type="text" placeholder="name surname"
                    name="username" id="username" [ngModel]="loginModel.username" required minlength="5" maxlength="30">
            </div>
            <div class="alert alert-danger"
                *ngIf="userNameInput.invalid && (userNameInput.dirty || userNameInput.touched)">
                <small *ngIf="userNameInput.errors?.['required']">Kullanıcı adı alanı
                    zorunludur</small>
                <small *ngIf="userNameInput.errors?.['minlength']">Kullanıcı adı alanı en az 5 karakter olabilir</small>
            </div>
            <div class="alert alert-info">
                <ul>
                    <li>Valid: {{userNameInput.valid}}</li>
                    <li>Invalid: {{userNameInput.invalid}}</li>
                    <li>Errors: {{userNameInput.errors | json}}</li>
                    <li>Dirty: {{userNameInput.dirty}}</li>
                    <li>Pristine: {{userNameInput.pristine}}</li>
                    <li>Touched: {{userNameInput.touched}}</li>
                    <li>Untouched: {{userNameInput.untouched}}</li>
                    <li>Value: {{userNameInput.value}}</li>
                </ul>
            </div>
            <div class="mb-3">
                <label for="password">Password: </label>
                <input class="form-control"
                    [ngClass]="{invalidRed:isValid(passwordInput.control),validGreen:isSuccessValid(passwordInput.control)}"
                    #passwordInput="ngModel" type="password" placeholder="password" name="passworrd" id="password"
                    [ngModel]="loginModel.password" required minlength="4">
            </div>
            <div class="alert alert-danger"
                *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)">
                <small *ngIf="passwordInput.errors?.['required']">Password alanı zorunludur</small>
                <small *ngIf="passwordInput.errors?.['minlength']">Password alanı en az 4 karakter
                    olabilir</small>
            </div>
            <div class="alert alert-info">
                <ul>
                    <li>Valid: {{passwordInput.valid}}</li>
                    <li>Invalid: {{passwordInput.invalid}}</li>
                    <li>Errors: {{passwordInput.errors | json}}</li>
                    <li>Dirty: {{passwordInput.dirty}}</li>
                    <li>Pristine: {{passwordInput.pristine}}</li>
                    <li>Touched: {{passwordInput.touched}}</li>
                    <li>Untouched: {{passwordInput.untouched}}</li>
                    <li>Value: {{passwordInput.value}}</li>
                </ul>
            </div>

            <div class="form-check mb-3">
                <input class="form-check-input" (ngModelChange)="rememberMeChange($event)" type="checkbox"
                    name="rememberMe" [ngModel]="loginModel.rememberMe">
                <label class="form-check-label" for="rememberMe">
                    Beni Hatırla:
                </label>
            </div>

            <label class="form-label" for="country">Ülke :</label>
            <select class="form-select mb-3" (ngModelChange)="countryChange($event)" name="country" id="country"
                [ngModel]="loginModel.country">
                <option *ngFor="let country of countryMenu" value="{{country.value}}">{{country.text}}</option>
            </select>

            <div class="form-check" *ngFor="let gender of genderMenu">
                <input class="form-check-input" (ngModelChange)="genderChange($event)" [ngModel]="loginModel.gender"
                    type="radio" name="gender" [value]="gender.value">
                <label class="form-check-label" for="exampleRadios1">
                    {{gender.text}}
                </label>
            </div>

            <button class="btn btn-primary mt-3" type="submit">Giriş</button>
        </form>
    </div>
</div>





<!-- Manuel Radio Button Örneği 
    <input [ngModel]="loginModel.gender" type="radio" name="gender" value="1" checked>Erkek
    <input [ngModel]="loginModel.gender" type="radio" name="gender" value="2">Kadın -->

<!-- Change Event Manuel Select Örneği
    <select #mySelect (change)="onChange(mySelect.value)" name="selectManuel" id="">
        <option value="1">Select 1</option>
        <option value="2">Select 2</option>
        <option value="3">Select 3</option>
    </select> -->

<!-- <form #saveForm="ngForm" (ngSubmit)="save(saveForm)">

<label for="username">UserName: </label>
<input type="text" name="username" id="username" [ngModel]="loginModel2.username">
<br>
<label for="password">Password: </label>
<input type="password" name="passworrd" id="password" [ngModel]="loginModel2.password">
<br>
<label for="rememberMe">rememberMe: </label>
<input type="checkbox" name="rememberMe" [ngModel]="loginModel2.rememberMe">
<br>
<button type="submit">Giriş</button>

</form> -->


<!-- 
<form (ngSubmit)="save()">

<label for="username">UserName: </label>
<input type="text" name="username" id="username" [(ngModel)]="loginModel.username">
<br>
<label for="password">Password: </label>
<input type="password" name="passworrd" id="password" [(ngModel)]="loginModel.password">
<br>
<button type="submit">Giriş</button>

</form>

-->