<router-outlet></router-outlet>
<h2>TURKCELL ANGULAR 201 EGITIM</h2>
<br>
<app-template-driven></app-template-driven>
<br>





<!-- Template Variables ile Input degeri alma
<input #name type="text">
<button (click)="save(name.value)">Kaydet</button> -->

<!-- <h3>Pipe Component</h3>
<app-pipe></app-pipe>
<br> -->
<!-- <h1>ANA COMPONENT</h1>
<hr>
<app-ngfor></app-ngfor>
<hr>
<app-ng-if></app-ng-if>
<hr>
<app-ng-switch></app-ng-switch>
<hr>
<app-ng-class></app-ng-class>
<hr>
<app-ng-style></app-ng-style>
<hr>
<app-ng-model></app-ng-model>
<hr>
<h2 appCustom>Angular (Custom Directive)</h2> -->

<!-- <app-example></app-example>
<hr>
<app-example2></app-example2>
<hr>
<app-example3></app-example3>
<hr>
<app-event-click></app-event-click>
<hr>
<app-datapass-input name="Emir Arslan Software Engineer"></app-datapass-input>
<hr>
<app-two-way-binding></app-two-way-binding>
<hr> -->
